body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #fff;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 0.2ex;
    background-color: #1f1e1e;
    background-image: url("../images/background.jpg");
    background-attachment: fixed;
    line-height: 1.4em;
}

* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;

}

.title {
    margin: 10px auto 5px;
    -webkit-text-stroke: 0.3px #000;
    line-height: 1em;
}

.title-header {
    text-align: center;
    margin-top: 100px;
}

.subtitle {
    margin-bottom: 20px;
    text-align: justify;
    font-size: 14px;
    color: #3d4241;
}

.subtitle-header {
    text-align: right;
    color: #afb3b1;
    -webkit-text-stroke: 0.1px #000;
}

.subtitle--white {
    margin: 40px auto;
    width: 80%;
    font-size: 16px;
    color: #fff;
}


/*Nav*/
@media (max-width: 700px) {
    .nav {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        line-height: 2.5em;
    }
}

.nav__link {
    padding-left: 30px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}

.nav__link:hover {
    color: #66bd99;
}

/*Header*/
.header-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-size: 14px;
    border-bottom: 1px solid #afb3b1;
}

@media (max-width: 1204px) {
    .header-top {
        padding: 10px 10px;
    }
}

.header__title {
    margin-top: 100px;
    padding: 0 10px;
    text-align: center;
    font-size: 40px;
}

@media (max-width: 705px) {
    .header__title {
        margin-top: 50px;
    }
}

.header__content {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

@media (max-width: 705px) {
    .header__content {
        margin-top: 50px;
        flex-wrap: wrap;
    }
}


.header__pic {
    display: block;
    height: 80px;
    margin: 0 auto;
}



.header__content-name {
    text-transform: uppercase;
    -webkit-text-stroke: 0.5px #000;
}

.header__link {
    text-decoration: none;
    color: #fff;
}


/*content-block*/
.content-block {
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
}

.content-block-link:hover {
    transform: scale(1.2);
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;


}

/* Button */
.btn {
    margin: 15px auto 0;
    padding: 10px;
    width: 200px;
    background: none;
    cursor: pointer;
    border: 2px solid #66bd99;
    border-radius: 30px;
}

.btn-grid {
    margin-bottom: 50px;
}

.header__btn {
    margin-top: 100px;
}

@media (max-width: 705px) {
    .header__btn {
        margin-top: 20px;
    }
}

.btn:hover {
    background-color: rgba(102, 189, 153, 0.1);
}

.btn__link {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #66bd99;
}

.btn--white {
    border-color: #fff;
}

.btn--white:hover {
    background-color: rgba(246, 250, 249, 0.1);
}

.btn__link--white {
    color: #fff;
}

/* Floating buttons */
.btn--fixed {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    display: block;

    text-decoration: none;
    padding: 6px 23px;
    font-size: 17px;
    border-radius: 15px;

    background-color: #000;

    z-index: 100;
}

.btn--fixed:hover {
    font-size: 18px;
    font-weight: 700;
}

.btn--fixed--left {
    left: 20px;
}

.btn--fixed--right {
    right: 20px;
}

.btn__link--fixed {
    color: #66bd99;
}

/* Main */
main {
    margin-top: 100px;
    background-color: #fff;
    flex-grow: 1;
}

.main__inner {
    padding: 100px 0;
}

.main__inner--padding {
    padding: 50px 30px;
}

.main__catalog {
    color: #000;
}

.grid {
    display: grid;
    grid-template-areas: "img-1   img-2"
        "title-1 title-2"
        "text-1  text-2"
        "btn-1   btn-2";
    grid-template-rows: repeat(4, auto);
    grid-template-columns: repeat(2, 350px);
    grid-gap: 10px 150px;
    justify-content: center;
    justify-items: center;
    align-items: baseline;
}

@media (max-width: 880px) {
    .grid {
        grid-template-areas: "img-1"
            "title-1"
            "text-1"
            "btn-1"
            "img-2"
            "title-2"
            "text-2"
            "btn-2";
        grid-template-rows: repeat(8, auto);
        grid-template-columns: 300px;
        justify-content: center;
    }
}

.img-1 {
    grid-area: img-1;
}

.title-1 {
    grid-area: title-1;
}

.text-1 {
    grid-area: text-1;
}

.btn-1 {
    grid-area: btn-1;
}

.img-2 {
    grid-area: img-2;
}

.title-2 {
    grid-area: title-2;
}

.text-2 {
    grid-area: text-2;
}

.btn-2 {
    grid-area: btn-2;
}



.main__pic {
    display: block;
    width: 200px;
    height: 200px;
    border: 0 solid #000;
    border-radius: 200px;
}

.main__content-name {
    font-weight: 700;
    color: #000;
}

.main__catalog-name {
    margin-top: 20px;
    color: #66bd99;
    -webkit-text-stroke: 0.1px #000;
    text-transform: uppercase;
}

/* Collage */
.collage {
    background-color: #66bd99;
}

.collage__inner {
    padding: 100px;
    text-align: center;
}

@media (max-width: 700px) {
    .collage__inner {
        padding: 50px;
    }
}

.collage__content {
    padding: 20px 0 40px 0;
    display: grid;
    grid-gap: 10px;
    justify-content: center;
    grid: repeat(8, 90px) / repeat(8, 90px);
}

@media (max-width: 1040px) {
    .collage__content {
        grid: repeat(8, 60px) / repeat(8, 60px);
    }
}

@media (max-width: 620px) {
    .collage__content {
        grid: repeat(8, 50px) / repeat(8, 50px);
    }
}

@media (max-width: 500px) {
    .collage__content {
        grid: repeat(8, 40px) / repeat(8, 40px);
    }
}

@media (max-width: 430px) {
    .collage__content {
        grid: repeat(8, 25px) / repeat(8, 25px);
    }
}

.collage__pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;

}

.collage__item {
    overflow: hidden;
}

.collage__item img {
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;

}

.collage__item img:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);


}

.collage__item-1 {
    grid-area: 1 / 1 / span 4/ span 2;
}

.collage__item-2 {
    grid-area: 1 / 3 / span 2/ span 2;
}

.collage__item-3 {
    grid-area: 1 / 5 / span 5/ span 4;
}

.collage__item-4 {
    grid-area: 3 / 3 / span 2/ span 2;
}

.collage__item-5 {
    grid-area: 5 / 1 / span 2/ span 2;
}

.collage__item-6 {
    grid-area: 5 / 3 / span 2/ span 2;
}

.collage__item-7 {
    grid-area: 7 / 1 / span 2/ span 4;
}

.collage__item-8 {
    grid-area: 6 / 5 / span 3/ span 4;
}

/* End-Collage */

/* Project# */
.project {
    padding: 10px 0;
    border-bottom: 1px solid #000;
}

.project__name {
    padding: 20px;

}

.project__discrip {
    text-align: justify;
}

/* End-Project# */



/* Gallery */
.slider {
    display: block;
    position: relative;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
}

.slider .slides {
    overflow: hidden;
    overflow: hidden;
    width: 100%;
    height: 70vmin;
    margin: 0;
    padding: 0;
    list-style: none;
}

.slider .slides>li {
    width: 100%;
    height: 70vmin;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

@media (max-width: 945px) {
    .slider .slides {
        height: 60vmin;
    }
}

@media (max-width: 790px) {
    .slider .slides {
        height: 50vmin;
    }
}

.slider .slides>li>img {
    width: 100%;
    height: auto;
}

.slider .miniatures {
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    list-style: none;
}

.slider .miniatures>li {
    float: left;
    width: 20%;
}

.slider .miniatures>li>a {
    display: block;
}

.slider .miniatures>li>a>img {
    width: 100%;
    height: auto;
}

.slider .slides li:target {
    z-index: 3;
    -webkit-animation: slide 1s 1;
}

.slider .slides li:not(:target) {
    -webkit-animation: hidden 1s 1;
}

@-webkit-keyframes slide {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@keyframes slide {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-webkit-keyframes hidden {
    0% {
        z-index: 2;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    100% {
        z-index: 2;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

@keyframes hidden {
    0% {
        z-index: 2;
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }

    100% {
        z-index: 2;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

/* End-Gallery */


#blackout {
    display: none;
    background-color: #000;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 70%;
    z-index: 200;
}

/* Form-popup */
.form-popup {
    display: none;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    z-index: 999;
}

@media (max-width: 600px){
    .form-popup{
        top: 20%;
        left: 30%;
        transform: translate(-20%, -20%);
    }
}

.form-container {
    max-width: 600px;
    padding: 5px 20px 40px;
    background-color: #1f1e1e;
    border-radius: 50px;
}

.form-container input[type=text],
.form-container input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 30px;
    border: none;
    background: #f1f1f1;
    font-size: 15px;
}

.form-container input[type=text]:focus,
.form-container input[type=email]:focus {
    background-color: #ddd;
    outline: none;
}

.btn-popup {
    font-size: 15px;
    width: 40%;
}

.btn-close {
    width: 40px;
    margin-right: 0;

    border-radius: 30px;
    font-size: 15px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* End-Form-popup */

/* Modal window for the staff */
.form-title{
    margin: 10px auto;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.employee-photo{
    width: 100px;
    border-radius: 50px;
}
.form-staff__content{
    margin: 0 10px;
    display: grid;
    grid-template-areas: "photo-1 discrp-1"
                         "photo-2 discrp-2"
                         "photo-3 discrp-3"
                         "photo-4 discrp-4";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
    justify-items: left;
    align-items: center;
}

.form-staff__position{
    font-size: 13px;
    color: #66bd99;
}

.photo-1{
    grid-area: photo-1;
}

discrp-1{
    grid-area: discrp-1;
}

/* Modal-window-for-Working-Stages  */
.form-stages__item{
    margin: 20px 20px;
    text-align: justify;
    color: #9db3af;
}


/* Footer */
.footer {
    flex-shrink: 0;
    background-color: #66bd99;
}

.footer--white {
    background-color: #fff;
}

.footer__in {
    padding: 10px 0;
    font-size: 12px;
    text-align: center;
}

.footer__in--white {
    color: #000;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    border-top: 1px solid #fff;

}

.footer-logo--white {
    border-top: 1px solid #000;
}

.footer-logo-inner {
    margin-right: 20px;
}

.footer-logo-inner:hover {
    transform: scale(1.3);
    -moz-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    -webkit-transition: all 0.4s linear;
}

.footer__pic {
    width: 40px;
}

/* End-Footer */